<div class="p-4 h-screen overflow-y-auto text-center bg-cyan-950">
  <div class="text-gray-100 text-xl">
    <div class="p-2.5 mt-1 flex items-center">
      <p class="text-4xl font-bold underline decoration-dotted text-gray-200 text-[15px] ml-3">Facturación</p>
      <i class="bi bi-x cursor-pointer ml-28 lg:hidden"></i>
    </div>
    <div class="my-2 bg-gray-600 h-[1px]"></div>
  </div>
  <div
    class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-cyan-800 text-white"
    routerLink="/dashboard/users"
  >
    <mat-icon>person</mat-icon>
    <span class="text-[15px] ml-4 text-gray-200 font-bold hover:italic" routerLink="/dashboard/users/userList">Usuarios</span>
  </div>

  <div
    class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-cyan-800 text-white"
    routerLink="/dashboard/products"
  >
    <mat-icon>widgets</mat-icon>
    <span class="text-[15px] ml-4 text-gray-200 font-bold hover:italic" routerLink="/dashboard/products/lists">Productos</span>
  </div>
  
  <div
    class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-cyan-800 text-white"
    routerLink="/dashboard/clients"
  >
    <mat-icon>person</mat-icon>
    <span class="text-[15px] ml-4 text-gray-200 font-bold hover:italic" routerLink="/dashboard/clients/clientList">Clientes</span>
  </div>
  <div
  class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-cyan-800 text-white"
  routerLink="/dashboard/establishments"
  >
  <mat-icon>store</mat-icon>
  <span class="text-[15px] ml-4 text-gray-200 font-bold hover:italic" routerLink="/dashboard/establishments/lists">Establecimientos</span>
  </div>
  <div
  class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-cyan-800 text-white"
  routerLink="/dashboard/taxes"
  >
  <mat-icon>monetization_on</mat-icon>
  <span class="text-[15px] ml-4 text-gray-200 font-bold hover:italic" routerLink="/dashboard/taxes/lists">Tarifas</span>
  </div>
</div>
