<section class="relative flex w-full border-2 border-cyan-900 rounded-lg p-4 bg-white shadow-lg">
  <span class="absolute top-0 left-0 transform -translate-y-1/2 bg-cyan-900 text-white px-3 py-1 rounded-md shadow-md text-sm font-semibold">
    Emisor
  </span>
  <div class="container mx-auto p-6">
    <label for="codigoTarifa" class="block mb-2 text-sm font-medium text-gray-900">
      Seleccione el emisor
    </label>
    <select
      id="codigoTarifa"
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
      (change)="onEstablishmentChange($event)"
    >
      @for(establishment of establishments; track establishment.id) {
        <option [value]="establishment.id">
          {{ establishment.ruc }} - {{ establishment.razonSocial }}
        </option>
      }
    </select>
  </div>
</section>
