<form [formGroup]="userForm" class="space-y-5">
  <div>
    <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 ml-96"
      >Nombre</label
    >
    <input
      type="text"
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-5/12 p-2.5 mx-auto"
      formControlName="firstName"
    />
    <mat-error class="flex mt-1 text-red-600 ml-96">
      <arv-validation-messages for="firstName"></arv-validation-messages>
    </mat-error>
  </div>

  <div>
    <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 ml-96"
      >Apellido</label
    >
    <input
      type="text"
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-5/12 p-2.5 mx-auto"
      formControlName="lastName"
    />
    <mat-error class="flex mt-1 text-red-600 ml-96">
      <arv-validation-messages for="lastName"></arv-validation-messages>
    </mat-error>
  </div>

  <div>
    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 ml-96"
      >Usuario</label
    >
    <input
      type="text"
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-5/12 p-2.5 mx-auto"
      formControlName="username"
    />
    <mat-error class="flex mt-1 text-red-600 ml-96">
      <arv-validation-messages for="username"></arv-validation-messages>
    </mat-error>
  </div>

  <div>
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ml-96"
      >Email</label
    >
    <input
      type="text"
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-5/12 p-2.5 mx-auto"
      placeholder="name@company.com"
      formControlName="email"
    />
    <mat-error class="flex mt-1 text-red-600 ml-96">
      <arv-validation-messages for="email"></arv-validation-messages>
    </mat-error>
  </div>

  @if(!isEditMode){
  <div>
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ml-96"
      >Contraseña</label
    >
    <input
      type="password"
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-5/12 p-2.5 mx-auto"
      formControlName="password"
    />
    <mat-error class="flex mt-1 text-red-600 ml-96">
      <arv-validation-messages for="password"></arv-validation-messages>
    </mat-error>
  </div>
  }

  <div class="mb-4">
    <label class="block text-sm font-medium text-gray-900 ml-96">Rol:</label>
    <mat-radio-group
      aria-label="Seleccione un rol"
      class="bg-white flex flex-col rounded-lg p-2 mb-1 ml-96"
      formControlName="role"
      color="primary"
    >
      <mat-radio-button value="USER" checked="true">USER</mat-radio-button>
      <mat-radio-button value="ADMIN">ADMIN</mat-radio-button>
    </mat-radio-group>
    <mat-error class="flex mt-1 text-red-600 ml-96">
      <arv-validation-messages for="role"></arv-validation-messages>
    </mat-error>
  </div>

  @if(isEditMode){
  <button
    class="bg-teal-600 hover:bg-teal-700 focus:bg-teal-800 py-2 px-5 text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out ml-96"
    (click)="onUpdate()"
  >
    Actualizar
  </button>
  } @else {
  <button
    class="bg-teal-600 hover:bg-teal-700 focus:bg-teal-800 py-2 px-5 text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out ml-96"
    (click)="onCreate()"
  >
    Crear
  </button>
  }
</form>
