<div class="flex items-center justify-center min-h-screen bg-gradient-to-r from-greenCustom to-blue">
  <div class="relative flex flex-col m-6 space-y-8 bg-white shadow-2xl rounded-2xl md:flex-row md:space-y-0">
    <!-- Lado izquierdo -->
    <div class="flex flex-col justify-center p-8 md:p-14 md:w-3/5">
      <h1 class="text-xl font-extrabold leading-tight tracking-tight text-gray-900 md:text-2xl">
        Ingresa a tu cuenta
      </h1>
      <form class="space-y-4 md:space-y-6" [formGroup]="loginForm">
        <div class="py-4">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Tu usuario</label>
          <input
            type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
            placeholder="name@company.com"
            formControlName="username"
          />
          <mat-error class="flex mt-1 text-red-600">
            <arv-validation-messages for="username"></arv-validation-messages>
          </mat-error>
        </div>
        <div class="py-4">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Contraseña</label>
          <input
            type="password"
            placeholder="••••••••"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
            formControlName="password"
          />
          <mat-error class="flex mt-1 text-red-600">
            <arv-validation-messages for="password"></arv-validation-messages>
          </mat-error>
        </div>
        <button
          type="submit"
          class="w-full text-white bg-teal-800 hover:bg-teal-900 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          (click)="login()"
        >
          Iniciar sesión
        </button>
      </form>
    </div>
    
    <!-- Lado derecho -->
    <div class="relative bg-teal-800">
      <img
        src="../../../../../assets/images/Invoice-amico.png"
        alt="img"
        class="w-[600px] h-full hidden rounded-r-2xl md:block object-cover"
      />
      <!-- text on image  -->
     
        
      </div>
  </div>
</div>
