<mat-form-field appearance="fill">
  <mat-label>Producto</mat-label>
  <input
    type="text"
    matInput
    [formControl]="productControl"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="onProductSelected($event.option.value)"
    [displayWith]="displayFn"
  >
    @for(product of filteredProducts | async; track product.id) {
    <mat-option [value]="product">
      <div class="flex flex-row gap-2">
        <img [src]="product.urlImagen" width="30" height="30" alt="" />
        {{ product.nombre }}
      </div>
    </mat-option>

    }
  </mat-autocomplete>
</mat-form-field>
