<section class="relative flex w-full border-2 border-cyan-900 rounded-lg p-4 mt-4 bg-white shadow-lg">
  <span class="absolute top-0 left-0 transform -translate-y-1/2 bg-cyan-900 text-white px-3 py-1 rounded-md shadow-md text-sm font-semibold">
    Productos
  </span>
  <div class="container mx-auto p-6">
    <div class="mb-4">
      <app-product-dropdown (productSelected)="onProductSelected($event)"></app-product-dropdown>
      <app-item-table #invoiceTable (itemsChange)="onItemsChange($event)"></app-item-table>
    </div>
  </div>
</section>

